<div class="col-md-6 offset-md-3">
  <h3>Create Employee</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        [(ngModel)]="student.firstName"
        name="firstName"
      />
    </div>
    <div class="form-group">
      <label for="">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        [(ngModel)]="student.lastName"
        name="lastName"
      />
    </div>
    <div class="form-group">
      <label for="">Email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        [(ngModel)]="student.email"
        name="email"
      />
    </div>
    <br>
    <button class="btn btn-success" type="submit">Submit</button>
  </form>
</div>
